*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
./app/build
./app/release
/captures
app/release/app-release.apk
app/build.gradle
app/src/main/AndroidManifest.xml
app/src/main/AndroidManifest.xml
app/src/main/AndroidManifest.xml
